<?xml version="1.0" encoding="utf-8"?>
<odoo>  

    <record id="action_appoinemnts" model="ir.actions.act_window">
        <field name="name">Appoinemnts</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">hospital.appoinemnts</field>
        <field name="view_mode">tree,form,activity</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                No data yet!
            </p><p>
                Create your first Patient
            </p>
        </field>
    </record>

    <record id="action_hospital_female_patient" model="ir.actions.act_window">
        <field name="name">Female Patients</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">hospital.patient</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">['|',('gender', '=', 'female'),('age', '&lt;', 5)]</field>
        <field name="context">{'default_gender':'female', 'default_age':1}</field>
        <field name="help" type="html">
            <p>
                Create your first Female Patient
            </p>
        </field>
    </record>

    <record id="action_tags" model="ir.actions.act_window">
        <field name="name">Tags</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">patient.tag</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
        <field name="help" type="html">
            <p>
                Create your first Tag
            </p>
        </field>
    </record>

    <record id="action_hospital_patient" model="ir.actions.act_window">
        <field name="name">Patients</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">hospital.patient</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{'search_default_filter_male':1}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                No data yet!
            </p><p>
                Create your first Patient
            </p>
        </field>
    </record>



    <menuitem id="main_hospital_root" name="Hospital" sequence="0"/>
        <menuitem id="appoinemnts" name="Appoinemnts" parent="main_hospital_root" action="action_appoinemnts" sequence="0"/>
        <menuitem id="main_configuration_master" name="Configuration" parent="main_hospital_root" sequence="0"/>
            <menuitem id="tags" name="Tags" parent="main_configuration_master" action="action_tags" sequence="100"/>
            
        <menuitem id="main_patient_master" name="Patient" parent="main_hospital_root" sequence="0"/>
            <menuitem id="patient" name="Patient" parent="main_patient_master" action="action_hospital_patient" sequence="0"/>
            <menuitem id="female_patient" name="Female Patient" parent="main_patient_master" action="action_hospital_female_patient" sequence="0"/>







</odoo>